
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Blood Donors List</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"  routerLink="/admin_home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/donors">Donors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add_donor" >Enroll as Donor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/edit_donor" >Edit Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin_donors">Donors</a>
          </li>
        </ul>
        <ul class='navbar-nav'> 
            <a class='nav-link nav-item' routerLink="/admin_login" >Admin Login</a>
            <a class='nav-link nav-item' routerLink="/user_login" >User Login</a>
            <a class='nav-link nav-item' routerLink="/user_signup" >User Signup</a>
            <a class='nav-link nav-item' routerLink="/">Logout</a>
            <a class='nav-link nav-item' routerLink="/">Logout</a>
        </ul>
      </div>
    </div>
  </nav>