<body class="img js-fullheight" style="background-image: url(https://wallpapercave.com/wp/wp4323461.png);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Edit Donor Information</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<form action="#" class="signin-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" required>
                    </div>  
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Email ID" required>
		      		</div>
	                <div class="form-group">
	                    <input type="text" class="form-control" placeholder="Address" required>
	                    <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
	                </div>
                    <div class="form-group">
	                    <input type="text" class="form-control" placeholder="District" required>
	                    <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
	                </div>
                    <div class='form-group' style="margin-left: 5%;">
                        <label for="blood_group">Blood Type &nbsp;</label>
                        <select>
                            <option value="A+ve">A+ve</option>
                            <option value="A-ve">A-ve</option>
                            <option value="B+ve">B+ve</option>            
                            <option value="B-ve">B-ve</option>
                            <option value="O+ve">O+ve</option>
                            <option value="O-ve">O-ve</option>
                            <option value="AB+ve">AB+ve</option>
                            <option value="AB-ve">AB-ve</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Mobile Number" required>
                    </div>
                    <span>
                        <!-- Space for writing Error message -->
                    </span>
	                <div class="form-group">
	            	    <button type="submit" class="form-control btn btn-primary submit px-3">Register as Donor</button>
	                </div>
	                <!-- <div style="text-align: center;">
                        <a routerLink="/user_login">Already have an Account?</a>
                    </div> -->
	            </form>
	            <!-- <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
	            <div class="social d-flex text-center">
	          	    <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          	    <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
	            </div> -->
                <br><br><br><br>
		            </div>
				</div>
			</div>
		</div>
	</section>
</body>


