<body>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBF_c4tozcbjeeqfOnqxwr2UX-yrY_VxkouA&usqp=CAU" alt="Logo" width="10%" style="padding-left: 2%; margin: 2%;">
        <h1 style="color: black; width: 100%; text-align: center;">Welcome to Blood Donors List App</h1>
    </div>
    <br><br><br><br>

    <div class="row">
        <div class="col-lg-6">
            <h3 style="text-align: center; color: black;">About this Website</h3><br>
            <p style="color: black;">This website lists the names of volunteers who are willing to donate blood.
                Users who would like to enrol as a donor can register by clicking the register button and filling the form that follows.
                There is a need to collect and store the details of verified blood donors, so that they are easily accessible when needed. 
            </p>
        </div>
        <div class="col-lg-6">
            <h3 style="text-align: center; color: black;;">Services provided by the Website</h3><br>
            <ul style="color: black;">
                <li>View verified Blood Donors</li>
                <li>Enroll as a Blood Donor</li>
                <li>Edit personal data</li>
                <li>Remove yourselves from Donor List</li>
            </ul>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>    
</body>