<body class="img js-fullheight" style="background-image: url(https://wallpapercave.com/wp/wp4323461.png);">
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Blood Donors List</h2>
                </div>
			</div>
			<div class="row justify-content-center">
                <table class="table table-hover" style="color: azure;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Address</th>
                            <th>District</th>
                            <th>Blood Type</th>
                            <th>Mobile Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let i of donor,let j=index'>
                            <td>{{j+1}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.district}}</td>
                            <td>{{i.blood}}</td>
                            <td>{{i.phone}}</td>
                        </tr>
                    </tbody>
                </table>
			</div><br><br><br><br><br><br><br><br>
		</div>
	</section>
</body>
